{% extends 'layout.html' %}
{% load static %}
{% block content %}


    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row" id="listData">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/dataBusPage.js' %}"></script>
{% endblock %}