<!DOCTYPE html>
<html lang="en">

<head>
    <title>ระบบค้นหาเส้นทางเดินรถสองแถว</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{#    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>#}
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    {% load static %}
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/selectize.bootstrap3.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/spiner.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'static/assets/css/jquery.mCustomScrollbar.css' %}">#}

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/selectize.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'assets/js/sweetalert.min.js' %}"></script>#}
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
    <!-- am chart -->
    <script src="{% static 'assets/pages/widget/amchart/amcharts.min.js' %}"></script>
    <script src="{% static 'assets/pages/widget/amchart/serial.min.js' %}"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="{% static 'assets/pages/todo/todo.js' %} "></script>
    <!-- Custom js -->
    <script type=" text/javascript" src="{% static 'assets/js/script.js' %}"></script>
    <script type="text/javascript " src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/demo-12.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.js"></script>

</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

    body {
        font-family: 'Kanit', sans-serif;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }

    h3 {
        font-weight: bold;
        color: white;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<body>
<div class="dv-spinner justify-content-center" style="display: none">
        <div class="spinner-border" role="status">
        </div>
        <div>
            <label class="col-form-label lb-spinner">Loading ....</label>
        </div>
    </div>
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <a class="mobile-search morphsearch-search" href="#">
                        <i class="ti-search"></i>
                    </a>
                    <a href="">
                        <img  src="{% static 'logo.png' %}" alt="Theme-Logo" width="150 px"/>
                    </a>
                    <a class="mobile-options">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>

                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" style="font-size: 1.5rem;">
                        MENU
                    </div>
                    <ul class="pcoded-item pcoded-left-item">
                        <li class="active">
                            <a href="/index">
                                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                <span class="pcoded-mtext" data-i18n="nav.dash.main" style="font-size: 1rem">ค้นหาเส้นทางเดินรถสองแถว</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/dataBusPage">
                                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                <span class="pcoded-mtext" data-i18n="nav.dash.main" style="font-size: 1rem">ค้นหาข้อมูลรถสองแถว</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/login">
                                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                <span class="pcoded-mtext" data-i18n="nav.dash.main" style="font-size: 1rem">จัดการข้อมูล</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                        </li>
                    </ul>

                </nav>
                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>
</div>

<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>

<![endif]-->
<!-- Warning Section Ends -->

<script>
    var $window = $(window);
    var nav = $('.fixed-button');
    $window.scroll(function () {
        if ($window.scrollTop() >= 200) {
            nav.addClass('active');
        } else {
            nav.removeClass('active');
        }
    });
</script>
</body>

</html>
